In [1]:
# Question: Find the maximum and minimum values in a list
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(numbers)
print(max_val)
print(min_val)

[23, 45, 12, 67, 34, 89, 56]
89
12

In [2]:
# Question 1: Create a list of first 10 square 
square = [i ** 2 for i in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_sum = sum(i for i in num_list if i % 2 == 0)
print(even_sum)

30

In [8]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique = []
for i in numbers:
    if i not in unique:
        unique.append(i)
print(numbers)
print(unique)

[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [11]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_num = list(dict.fromkeys(numbers))
print(unique_num)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_num = list(set(numbers))
print(unique)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
numbers = [64, 34, 25, 12, 22, 11, 90]
print(numbers)
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] < numbers[j]:
            numbers[i],numbers[j] = numbers[j],numbers[i]
print(numbers)

[64, 34, 25, 12, 22, 11, 90]
[90, 64, 34, 25, 22, 12, 11]

In [21]:
numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [31]:
numbers = [64, 34, 25, 12, 22, 11, 90]
sort_num = sorted(numbers, reverse=True)
print(sort_num)

[90, 64, 34, 25, 22, 12, 11]

In [32]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
numbers = [15, 23, 31, 42, 56, 78, 91]
avg_num = sum(numbers)/len(numbers)
print(avg_num)

48.0

In [34]:
# Question 6: Create a list of first 15 Fibonacci numbers
fibonanci = [0, 1]
for _ in range(13):
    fibonanci.append(fibonanci[-1] + fibonanci[-2])
print(fibonanci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [35]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
number = [45, 67, 23, 89, 12, 34, 78]
largest = second_largest = float('-inf')
for num in number:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest:
        second_largest = num
print(second_largest)

78

In [36]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev_list = num_list[::-1]
print(rev_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
num_list = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = 0
for num in num_list:
    if num == 5:
        count+= 1
print(num_list)
print(count)

[1, 5, 2, 5, 3, 5, 4, 5, 6]
4

In [3]:
# Question 10: Create a list of prime numbers between 1 and 50
prime_number = []
for num in range(2,51):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_number.append(num)
print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [7]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = []
for num_list in nested_list:
    for item in num_list:
        flat.append(item)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_ele = list(set(list1) & set(list2))
print(common_ele)

[4, 5]

In [12]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_ele = []
for num in list1:
    if num in list2:
        common_ele.append(num)
print(common_ele)

[4, 5]

In [18]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
my_list= []
for i in range(1, 7, 2):
    my_list.append([i , i+1])
print(my_list)

[[1, 2], [3, 4], [5, 6]]

In [22]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum = []
for sublist in list:
    total = 0
    for num in sublist:
        total += num
    sum.append(total)
print(sum)

[6, 15, 24]

In [1]:
nested_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = [ sum(sublist) for sublist in nested_lists ]
print(sums)

[6, 15, 24]

In [12]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []
for i in range(len(matrix[0])):
    row=[]
    for j in range(len(matrix)):
        row.append(matrix[j][i])
    transpose.append(row)
print(matrix)
print(transpose, end=" ")

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_value_list = [max(sublist)for sublist in list]
print(max_value_list)

[5, 9, 8]

In [14]:
list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_value_list = []
for sublist in list:
    current_max = sublist[0]
    for num in sublist:
        if num > current_max:
            current_max = num
    max_value_list.append(current_max)
print(max_value_list)

[5, 9, 8]

In [15]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
matrix_3d = []
num = 1

for _ in range(2):
    layer = []
    for _ in range(2):
        row = []
        for _ in range(2):
            row.append(num)
            num += 1
        layer.append(row)
    matrix_3d.append(layer)

print(matrix_3d)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [16]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
matrix_3d = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total = 0
for layer in matrix_3d:
    for row in layer:
        for num in row:
            total += num
print(total)

36

In [1]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_list =[]
for sub_list in nested_list:
    current_even = sub_list[0]
    for num in sub_list:
        if num % 2 == 0:
            even_list.append(num)
print(even_list)

[2, 4, 6, 8]

In [2]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed_list = [1, "hello", 3.14, True, [1, 2, 3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [1]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
main_list = ["apple", "banana", "cherry", "date"]
len_string = []
for sub_list in main_list:
    len_string.append(len(sub_list))
print(len_string)

[5, 6, 6, 4]

In [7]:
main_list = ["apple", "banana", "cherry", "date"]

sub_len = []
for word in main_list:
    count = 0
    for num in word:
        count += 1
    sub_len.append(count)
print(sub_len)

[5, 6, 6, 4]

In [8]:
main_list = ["apple", "banana", "cherry", "date"]
word_len = [len(word) for word in main_list]
print(word_len)

[5, 6, 6, 4]

In [9]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
list_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(list_tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [11]:
my_list = []
leters = ('a','b','c')
for i in range(1,4):
    my_list.append((i,leters[i-1]))
print(my_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [13]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
tupel_list = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elem = []
for t in tupel_list:
    first_elem.append(t[0])
print(first_elem)

[1, 2, 3]

In [ ]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [19]:
name = ["Alice", "Bob"]
age = [25, 30]
people = []

for i in range(len(name)):
    people.append({"name" :name[i], "age" : age[i]})
print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [35]:
# Question 25: Extract all 'name' values from list of dictionaries
name_dict = [{'name': 'Alice', 'age': 25},{'name': 'Bob', 'age': 55}, 
             {'name': 'Boby', 'age': 50}]
name = [person.get('name') for person in name_dict]
print(name)

['Alice', 'Bob', 'Boby']

In [37]:
# Question 26: Find the person with maximum age in list of dictionaries
person_list = [{'name': 'Alice', 'age': 25},{'name': 'Bob', 'age': 55}, 
             {'name': 'Boby', 'age': 50}, {'name': 'jonson', 'age': 20}]

older_person = person_list[0]
for person in person_list:
    if person["age"] > older_person["age"]:
        older_person = person
print(older_person)

{'name': 'Bob', 'age': 55}

In [38]:
person_list = [{'name': 'Alice', 'age': 25},{'name': 'Bob', 'age': 55}, 
             {'name': 'Boby', 'age': 50}, {'name': 'jonson', 'age': 20}]

older_person = [max(person_list, key= lambda p:p["age"])]
print(older_person)

[{'name': 'Bob', 'age': 55}]

In [39]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

four_d_list =[]
num = 1
for i in range(2):
    level1 = []
    for j in range(2):
        level2 = []
        for k in range(2):
            level3 = [num ,num +1]
            num += 2
            level2.append(level3)
        level1.append(level2)
    four_d_list.append(level1)
print(four_d_list)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [40]:
# Question 28: Find the maximum value in 4D list
four_d_list = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

max_value = float('-inf') #start with very small number
for block in four_d_list:
    for matrix in block:
        for row in matrix:
            for item in row:
                if item > max_value:
                    max_value = item
print(max_value)

16

In [41]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

list_of_sets =[]
start = 1

for i in range(3):
    s = set(range(start, start +3))
    list_of_sets.append(s)
    start += 3
print(list_of_sets)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [42]:
list_of_sets = []
start = 1

for i in range(3):  # We want 3 sets
    s = set(range(start, start + 3))  # Create a set of 3 numbers
    list_of_sets.append(s)
    start += 3  # Move to the next numbers

print(list_of_sets)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [43]:
# Question 30: Find the union of all sets in list of sets
list_of_sets = [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_set = set()
for s in list_of_sets:
    union_set = union_set.union(s)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

complex_list =[]
real_part = 1
imag_part = 2
count = 3
i= 0
while i < count:
    z = complex(real_part, imag_part)
    complex_list.append(z)
    real_part += 2
    imag_part +=2
    i += 1
print(complex_list)

[(1+2j), (3+4j), (5+6j)]

In [47]:
# Question 32: Find the magnitude of each complex number in list
import math
complex_list = [1+2j, 3+4j, 5+6j]
magnitudes = []
i = 0
while i < len(complex_list):
    z = complex_list[i]
    magnitude = math.sqrt(z.real ** 2 + z.imag ** 2)
    magnitudes.append(magnitude)
    i += 1
print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [52]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

nested_list = []
nested_list.append(1)
nested_list.append([2, 3])
nested_list.append([4, [5, 6]])
nested_list.append(7)
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [64]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
#def depth(lst):
data = [1, [2, 3], [4, [5, 6],[5,7]], 7] 

max_depth = 1
stack = [(data, 1)]  # (current_list, current_depth)

while stack:
    current_list, current_depth = stack.pop()
    max_depth = max(max_depth, current_depth)

    for item in current_list:
        if isinstance(item, list):
            stack.append((item, current_depth + 1))

print(max_depth)

3

In [69]:
# Question 35: Create a list of functions: [len, str, int, float]

functions = [len, str, int, float]
print(functions)
# Question 36: Apply each function in list to string "123"
value = "123"

for func in functions:
    try:
        print(func(value))
    except Exception as e:
        print(f"Error with {func}: {e}")

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]
3
123
123
123.0

In [ ]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
lamda_function =[]
for i in range(3):
    if i == 0:
        lamda_function.append(lambda x: x * 2)
    elif i == 1:
        lamda_function.append(lambda x: x ** 2)
    else:
        lamda_function.append(lambda x: x + 2)

[<function <lambda> at 0x000002179F439F80>, <function <lambda> at 0x000002179F439D00>, <function <lambda> at 0x000002179F439B20>]

In [71]:
# Question 38: Apply each lambda function to 5
for f in lamda_function:
    print(f(5))

10
25
7

In [72]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
classes = []
for cls in (list, dict, set, tuple):
    classes.append(cls)

In [73]:
# Question 40: Create instances of each class in list
instances = []
for cls in classes:
    instances.append(cls())
print(instances)

[[], {}, set(), ()]

In [76]:
# Question 41: Create a list of None values: [None, None, None, None]
none_value_list =[]
for i in range(4):
    none_value_list.append(None)
print(none_value_list)

[None, None, None, None]

In [78]:
# Question 42: Replace all None values with 0 in list
for i in range(len(none_value_list)):
    if none_value_list[i] is None:
        none_value_list[i] = 0
print(none_value_list)

[0, 0, 0, 0]

In [79]:
# Question 43: Create a list of boolean values: [True, False, True, False]
bool_val_list = []
values = [True, False, True, False] 
for  val in values:
    bool_val_list.append(val)
print(bool_val_list)

[True, False, True, False]

In [80]:
# Question 44: Count True values in boolean list
count = 0
for i in bool_val_list:
    if i == True:
        count += 1
print(count)

2

In [81]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
length = [3, 5, 2]
ranges = []
for n in length:
    ranges.append(range(n))
print(ranges)

[range(0, 3), range(0, 5), range(0, 2)]

In [83]:
# Question 46: Convert each range to list
lists =[]
for r in ranges:
    lists.append(r)
print(lists)

[range(0, 3), range(0, 5), range(0, 2)]

In [2]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
generators = []
for n in (3, 5):
    generators.append(x for x in range(n))
print(generators)

[<generator object <genexpr> at 0x000001CD69582330>, <generator object <genexpr> at 0x000001CD69582400>]

In [3]:
# Question 48: Convert each generator to list
lists = []
for gen in generators:
    lists.append(list(gen))
print(lists)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [4]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iterators = []
data = [[1, 2, 3], [4, 5, 6]]

for lst in data:
    iterators.append(iter(lst))
print(iterators)

[<list_iterator object at 0x000001CD69182170>, <list_iterator object at 0x000001CD69182C50>]

In [5]:
# Question 50: Extract all elements from each iterator
elements = []
for it in iterators:
    elements.append(list(it))
print(elements)

[[1, 2, 3], [4, 5, 6]]